* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-size: 1.2em;
  color: pink;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 22px;
}

header img {
  height: 50px;
}

main {
  display: flex;
  justify-content: center;
}


main .hero-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('./images/img-mission-background.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 1200px;
  
}

.hero-img .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.4em;
  text-align: center;
  justify-content: space-between;
}

main .hero-img h2 {
  font-size: clamp(1.5rem, 4vw, 2rem); /* Responsive font size */
  color: green;
  padding-bottom: 0.4em;
}

main .hero-img h4 {
  font-size: clamp(1rem, 2.5vw, 1.4rem); /* Responsive font size */
  color: pink;
}

.tea-of-the-month {
  width: 1000px;
  margin: 0 auto;
  padding-top: 75px;
  margin-bottom: 50px;
}

.tea-of-the-month .tea {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.tea figure img {
  width: 300px;
  height: 200px;
  padding-bottom: 10px;
}


#locations {
  height: 500px;
  width: 1200px;
  background-image: url('./images/img-locations-background.jpg');
  background-size: cover;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.locations-container {
  display: flex;
  opacity: 1;
  gap: 40px;
  background: transparent;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 40px;
}

#locations h2 {
  color: seashell;
  background: transparent;
  margin-bottom: 15px;
  text-align: center;
}

.location {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

footer {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

footer .copyright {
  align-self: flex-start;
}
